:root{
    --rouge : #bd0e0e5e;
    --couleur-bordure: #CCC;
}
*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
}

body{
    display: flex;
    flex-direction: column;
}
h1{
    padding: 20px;
    margin-top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 1800px;
    height: 100px;
    box-shadow: 2px 5px 5px var(--rouge);
    text-align: center;
    border: var(--couleur-bordure) 2px solid;
    font-size: 34px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 25px;
    
}

.elements{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 0 40px;
    justify-content: center;
    width: 1800px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(7,1fr);
    margin: 0;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px var(--rouge);
    border-radius: 20px;
    border-top: 0.5px var(--couleur-bordure) solid;

    

}
.elements div{
    height: 100px;
    width: 100px;
    padding-top: 40px;
    border: 2px var(--couleur-bordure) solid;
    text-align: center;
    box-sizing: border-box;
}
.item1{
    grid-column: 1/18
}
.item2,.item3{
    grid-column: 2/13;
}

.Uuo{
    border-bottom-right-radius: 20px;
}
.He{
    border-top-right-radius: 20px;
}
.H{
    border-top-left-radius: 20px;
}
.Fr{
    border-bottom-left-radius: 20px;
}
