:root{
    --couleur: #bd0e0e5e;
    --couleur-bordure: #CCC;
}
*{
    font-family:  Courier New, Courier, monospace;;
}
body{
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.contener-parent{
    width: max-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    box-shadow: 2px 2px 4px 1px  var(--couleur);
    border-bottom-right-radius: 30px;
    border-top-left-radius: 15px;
    text-align: center;
    padding: 20px 80px;
    font-size: 18px;
    border: var(--couleur) solid 1px;
    
}
.contener{
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(7,1fr);
    border-radius: 10px;
    box-shadow: 3px 4px 2px  var(--couleur);
    border-top: #CCC solid 0.5px;
   
}
.item{
    border: var(--couleur-bordure) solid 1px;
    height: 50px;
    width: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.H{grid-column: 1/18;}
.Be,.Mg{grid-column: 2/13;}

.H{border-top-left-radius: 10px;}
.Fr{border-bottom-left-radius: 10px;}
.He{border-top-right-radius: 10px;}
.Uuo{ border-bottom-right-radius: 10px;}

.item:hover{
    background-color: var(--couleur);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.item::after{
    position: absolute;
    content: '';
    background-color: blueviolet;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.75s;
    transition-delay:  0.5s;
    border-radius: 10px;
}
.item:hover::after{
    width: 100%;
}

.item::before{
    position: absolute;
    content: '';
    background-color: blueviolet;
    height: 0px;
    width: 2px;
    left: 0;
    top: 0;
    transition-duration: 0.75s;
}
.item:hover::before{
    height: 100%;
}
